fastapi
uvicorn
python-dotenv
jinja2
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-proto
opentelemetry-exporter-otlp-proto-common
requests
langchain-core
langchain-google-genai
langchain-chroma
chromadb

langgraph
pydantic
numpy<2
authlib
httpx
itsdangerous