fastapi
uvicorn
python-dotenv
jinja2
python-multipart
opentelemetry-api
opentelemetry-sdk
opentelemetry-proto
opentelemetry-exporter-otlp-proto-common
requests
langchain-core
langchain-google-genai
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers<3.0.0
transformers<4.42.0
langgraph
pydantic
numpy<2
